html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    
}
#gol{
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px;
}

#polska{
    width: 50%;
    float: left;
    height: 50%;
    font-size: 500%;
    text-align: center;
}
#reszta{
    width: 50%;
    float: left;
    height: 50%;
    font-size: 500%;
    text-align: center;
}
.nazwa{
    width: 48%;
    float: left;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}